article.card
  section.card__top
    div.card__img(style='background-image: linear-gradient(0deg, #0E4218 0%, rgba(14, 66, 24, 0) 55.43%), url("./images/chick.jpg");')
    p.card__publication Дата публикации
    p.card__date 14.02.2019
  section.card__bottom
    p.card__header Название новости
    p.card__text На кормовом рынке России появилась компания, которая предлагает кормовые добавки, в том числе и аминокислоты, сопровождая свои коммерческие предложения сертификатами качества, выписанными на имя «ВитаГарант».
    a.card__link(href='#') Подробнее
