.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3px;



  &__top {
    height: 265px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__img {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  &__publication {
    @include zero;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 0px 20px 5px 30px;

  }

  &__date {
    @include zero;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 0px 20px 10px 30px;
  }

  &__bottom {
    padding: 20px 30px;
  }

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #353535;
  }

  &__text {
    @include zero;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  &__link {
    color: #99BB3F;
    font-size: 16px;
    line-height: 21px;

    &:hover {
      color: #D2CB2C;
    }

    &:active {
      color: #0E7F24;
    }
  }
}