mixin logo(data)
  if data.header
    a.logo.logo--header(href="#")
      span.visually-hidden Витагарант
      img(src="images/logo.svg")
  else if data.footer
    a.logo.logo--footer(href="#")
      span.visually-hidden Витагарант
      img(src="images/logo.svg")