.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  padding: 0;
  img {
    max-width: 100%;
    max-height: 100%;
  }

  &--header {
    width: 15%;
    max-height: 175px;
    z-index: 2;

    @media(max-width: $desktop) {
      padding: 20px;
      max-height: 135px;
      width: 12%;
      margin-bottom: 20px;
    }

    @media(max-width: $tablet) {
      margin: 0 auto;
      margin-bottom: 0;
      width: 115px;
      height: 115px;
    }

    @media(max-width: $phone) {
      margin: 0 auto 0px;
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
      &::after{
        position: absolute;
      }
    }
  }

  &--footer {
    width: 200px;
    height: 190px;
    margin-top: 20px;
    margin-bottom: 20px;

    @media(max-width: $desktop) {
      display: none;
    }
  }
}