.pale {
  position: relative;
  height: 155px;
  background-color: #fefdf0;

  @media(max-width: $desktop) {
    height: 60px;
  }

  @media(max-width: $tablet) {
    display: none;
  }

  &::before {
    position: absolute;
    content: '';
    width: 350px;
    height: 60px;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/short.jpg');
  }
}