.about {
  display: flex;

  &__image {
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: $phone) {
      display: none;
    }
  }

  &__content {
    position: relative;
    width: 60%;
    background-color: #FEFDF0;
    padding-left: 60px;
    padding-bottom: 200px;

    @media(max-width: $desktop) {
      padding-left: 30px;
      padding-bottom: 100px;
      width: 100%;
    }

    @media(max-width: $tablet) {
      padding-top: 20px;
    }

    @media(max-width: $phone) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }


    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 180px;
      bottom: 0;
      left: 0;
      opacity: 0.1;
      background-image: url('../images/faded.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media(max-width: $desktop) {
        height: 80px;
      }

      @media(max-width: $phone) {
        display: none;
      }
    }
  }

  &__text {
    max-width: 705px;
  }

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #353535;
    margin-bottom: 40px;

    @media(max-width: $desktop) {
      margin-bottom: 30px;
    }

    @media(max-width: $tablet) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 24px;
    }

    @media(max-width: $phone) {
      text-align: center;
    }
  }

  &__info {
    @include zero;

  }
}