section.about
  div.about__image(style='background-image: url("./images/chi.jpg");')
  section.about__content
    section.about__text
      p.about__header Коротко о нас
      p.about__info Описание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи