.header {
  position: relative;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #31473C -82.63%, #79A56C 86.44%), linear-gradient(14.2deg, #005543 13.56%, #9BCD66 264.51%);
  @media(max-width: $tablet) {
    flex-wrap: wrap;
  }

  @media(max-width: $phone) {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .contacts{
    a[href^="tel:"]{
      color: #fff;
      font-weight: 500;
    }
    a[href^="mailto:"]{
      color: #D1CB2B;
      text-decoration: underline;
      font-weight: 500;
    }
  }
  .logo{
    z-index: 1;
    &>*{
      z-index: 1;
      position: relative;
    }
    &:after{
      z-index: 0;
      content: '';
      width: 419px;
      height: calc(100% + 40px);
      position: absolute;
      top: -20px;
      left: 30px;
      background-image: url(../images/logobg.svg);
      background-position: top center;
      background-repeat: no-repeat;
      @media(max-width: $desktop) {
        left: -50px;
      }
      @media(max-width: $tablet) {
        left: 50%;
        transform: translateX(-50%);
        top: -100px;
        margin-left: 90px;
      }
      @media(max-width: $phone) {
        left: 50%;
        transform: translateX(-50%);
        top: -30px;
        margin-left: 90px;
      }
    }
    @media screen and (min-width: $desktop + 1) {
      width: 325px;
    }
  }
  .box--header{
    position: relative;
    z-index: 0;
    @media(min-width: $desktop + 1) {
      
      &:after{
        content: '';
        width: 342px;
        height: calc(100% + 40px);
        position: absolute;
        top: -20px;
        right: -180px;
        background-image: url(../images/greenfigure.svg);
        background-position: top -180px center;
        background-repeat: no-repeat;
      }
    }
  }
  .navigation{
    z-index: 2;
    @media(min-width: $desktop + 1) {
      pointer-events: none;
    }
  }
  .navigation__list{
    max-width: 640px;
    @media(min-width: $desktop + 1) {
      pointer-events: all;
      margin-top: 42px;
      .navigation__link{
        padding-top: 26px;
        padding-bottom: 9px;
      }
    }
  }
}