header.header
  div.box.box--header
    include /source/blocks/burger/burger
    +logo({
      header: 'header'
    })
    div.wrapper-mobile
      include /source/blocks/top/top
      include /source/blocks/search/search
  include /source/blocks/navigation/navigation