.popUp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  z-index: 3;
  max-width: 460px;
  padding: 20px;
  max-height: 570px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

  .form__inputs {
    display: block;
  }

  .form__input {
    display: block;
    width: 270px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .button--form {
    display: block;
    margin: auto;
    width: 270px;
  }

  .form__message {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__close {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none;
    cursor: pointer;

    &:before {
      position: absolute;
      content: '';
      width: 30px;
      height: 2px;
      background-color: #000000;
      top: 10px;
      left: 0;
      transform: rotate(45deg);
    }

    &:after {
      position: absolute;
      content: '';
      width: 30px;
      height: 2px;
      background-color: #000000;
      top: 10px;
      right: 0;
      transform: rotate(-45deg);
    }
  }

  &__header {
    text-align: center;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #434745;
  }

  &__terms {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #434745;
  }


}