section.popUp.hidden#form1
  button.popUp__close
    span.visually-hidden Закрыть модальное окно

  section.form__apply
    h2.popUp__header Заказать консультацию
    p.popUp__text Наш менеджер свяжется с вами в течение дня для уточнения деталей
     form.form__inputs
      input.form__input(type='text' placeholder="Ваше имя" required)
      input.form__input.form__input--phone(type='tel' placeholder="Телефон" required)
      input.form__input(type='email' placeholder="E-mail" required)
      +button({
        form: 'true'
      })
    p.popUp__terms Нажимая на кнопку отправить, вы подтверждаете свое согласие на обработку <a class="form__link" href="#">пользовательских данных</a>

  section.form__message
    h2.form__header Спасибо за заявку
    p.form__ad Наш менеджер свяжется с вами в течение дня для уточнения деталей
