.supplier {
  background-color: #ffffff;

  &__image {
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #353535;
    margin-bottom: 20px;
  }

  &__text {
    @include zero;
    color: #383838;
  }
}