div.supplier
  div.supplier__image(style="background-image: url(./images/evonik.png);")
  p.supplier__header Ajinomoto Co., Inc.
  p.supplier__text Краткая информайия о партнереКраткая информайия о партнереКраткая информайия о партнере