.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: auto;
  flex-wrap: wrap;
  padding: 7px 5px;
  width: 100%;
  // background-color: #349230;
  position: relative;
  z-index: 1;
  margin-top: -105px;

  @media(max-width: $desktop) {
    margin-top: 0px;
  }

  @media(max-width: $tablet) {
    margin: 0 auto;
  }

  @media(max-width: $phone) {
    width: 100%;
    padding: 0;
  }
  
  &__list {
    @include zero;
    display: flex;
    flex-wrap: wrap;
    max-width: 735px;
    width: 100%;
    margin: 0 auto;

    @media(max-width: $desktop) {
      max-width: 100%;
      justify-content: flex-end;
      width: unset;
      margin: unset;
    }

    @media(max-width: $tablet) {
      margin: 0 auto;
    }

    @media(max-width: $phone) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__item {
    list-style: none;

    @media(max-width: $phone) {
      text-align: center;
    }
  }

  &__link {
    font-weight: 500;
    display: block;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    text-decoration: none;
    padding: 19px 15px;
    // border-top: 2px solid #8BC55B;

    @media(max-width: $phone) {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #349230;
      // border-bottom: 2px solid #ffffff;
    }

    &--active {
      color: #d1cb2b;
    }
  }
}
span.navigation__link{
  color: #d1cb2b;
}
a.navigation__link:hover{
  color: #d1cb2b;
}