nav.navigation
  ul.navigation__list
    li.navigation__item
      span.navigation__link О компании
    li.navigation__item
      a.navigation__link(href='#') Продукты
    li.navigation__item
      a.navigation__link(href='#') Поставщики
    li.navigation__item
      a.navigation__link(href='#') Новости
    li.navigation__item
      a.navigation__link(href='#') Статьи
    li.navigation__item
      a.navigation__link(href='#') Контакты