.medals {
  @include zero;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 25px;

  @media(max-width: $desktop) {
    margin-top: 20px;
  }

  @media(max-width: $phone) {
    max-width: 330px;
  }

  &__item {
    list-style: none;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    border-radius: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0);
    transform: scale(1);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/medal.svg');
    margin-bottom: 10px;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      border: 2px solid #d2cb2c;
      box-shadow: 0 10px 5px rgba(0,0,0,.1);
      transform: scale(2) translate(-30%, 0px);
    }
  }
  @media screen and (min-width: $desktop + 1) {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}