.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  position: relative;
  z-index: 1;

  @media(max-width: $tablet) {
    flex-direction: column;
  }

  &__info {
    max-width: 440px;
    width: 100%;
  }

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #353535;
    margin-bottom: 40px;

    @media(max-width: $phone) {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }

  &__sub-header {
    @include zero;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #353535;
    margin-bottom: 10px;

    @media(max-width: $phone) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__hours {
    margin-bottom: 40px;

    @media(max-width: $phone) {
      margin-bottom: 20px;
    }
  }

  &__time {
    padding-left: 20px;
    font-weight: bold;
  }

  &__phones {
    @include zero;
    margin-top: 20px;
    padding-top: 19px;
    border-top: 1px solid #ADADAD;
  }

  &__who {
    @include zero;
    font-size: 22px;
    line-height: 140%;
    color: #353535;
    padding-left: 20px;

    @media(max-width: $phone) {
      font-size: 16px;
      line-height: 18px;
      order: 1;
      padding-left: 0;
      padding-bottom: 10px;
    }
  }

  &__phone {
    list-style: none;
    display: flex;
    margin-bottom: 20px;

    @media(max-width: $phone) {
      flex-direction: column;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 22px;
    line-height: 140%;
    color: #353535;

    @media(max-width: $phone) {
      font-size: 16px;
      line-height: 18px;
      order: 2;
    }
  }

  &__download {
    max-width: 270px;
    display: block;
    text-decoration: none;
    background-color: #99BB3F;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;

    @media(max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &__map {
    max-width: 630px;
    max-height: 530px;
    margin-left: 20px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    @media(max-width: $tablet) {
      height: 400px;
      max-width: 100%;
      margin-left: 0;
    }

    @media(max-width: $tablet) {
      height: 300px;
    }

    &--leaves {
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: 150px;
        height: 435px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../images/leaves.png');
        right: -75px;
        top: 0;
        z-index: -1;

        @media(max-width: $desktop) {
          display: none;
        }
      }
    }
  }
}