mixin contact(data)

  if data.office

    section.contact
      section.contact__info
        p.contact__header Офис
        p.contact__sub-header Адрес:
        p.contact__text 125212, г. Москва, ул.Выборгская, д.16, стр. 4, а/я 167
        p.contact__sub-header Часы работы офиса
        table.contact__hours
          tr.contact__line
            td Понедельник - пятница
            td.contact__time 10:00 - 18:00
          tr.contact__line
            td Суббота
            td.contact__time 11:00 - 15:00
        p.contact__sub-header Восскресенье выходной
        ul.contact__phones
          li.contact__phone
            a.contact__link(href='tel:+7(000) 000-00-00') +7(000) 000-00-00
            p.contact__who Многоканальный
          li.contact__phone
            a.contact__link(href='tel:+7(000) 000-00-00') +7(000) 000-00-00
            p.contact__who Менеджер
          li.contact__phone
            a.contact__link(href='mailto:info@info.ru') info@info.ru
      section.contact__map.contact__map--leaves(style='background-image: url("./images/map2.jpg");')
        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaa7f779bbb78771525697879378838c6cebae904a9497c8c5ff13cda1c8e2c52&amp;source=constructor" width="100%" height="100%" frameborder="0")

  if data.warehouse

    section.contact
      section.contact__info
        p.contact__header Склад
        p.contact__sub-header Адрес:
        p.contact__text 125212, г. Москва, ул.Выборгская, д.16, стр. 4, а/я 167
        p.contact__sub-header Часы работы офиса
        table.contact__hours
          tr.contact__line
            td Понедельник - пятница
            td.contact__time 10:00 - 18:00
          tr.contact__line
            td Суббота
            td.contact__time 11:00 - 15:00
        p.contact__sub-header Восскресенье выходной
        ul.contact__phones
          li.contact__phone
            a.contact__link(href='tel:+7(000) 000-00-00') +7(000) 000-00-00
            p.contact__who Многоканальный
          li.contact__phone
            a.contact__link(href='tel:+7(000) 000-00-00') +7(000) 000-00-00
            p.contact__who Менеджер
          li.contact__phone
            a.contact__link(href='mailto:info@info.ru') info@info.ru
        a.contact__download(href='#') Скачать схему проезда
      section.contact__map(style='background-image: url("./images/map2.jpg");')
        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaa7f779bbb78771525697879378838c6cebae904a9497c8c5ff13cda1c8e2c52&amp;source=constructor" width="100%" height="100%" frameborder="0")
