.button {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #349230;
  border-radius: 5px;
  border: 0;
  padding: 20px;
  max-width: 270px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  transition: 0.3s;


  &:hover {
    background-color:#D2CB2C;
  }

  &--order {
    margin-top: 40px;
    background-color:#D2CB2C;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    @media(max-width: $desktop) {
      margin-top: 0;
      margin-left: 20px;
      padding: 10px;
    }

    @media(max-width: $phone) {
      margin-left: 0;
      margin-top: 20px;
    }

    &:hover {
      background-color:#ffffff;
      color: #349230;
    }
  }

  &--whereabouts {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;

    @media(max-width: $tablet) {
      margin-top: 20px;
    }
  }

  &--form {
    padding-top: 18px;
    padding-bottom: 18px;
    max-width: unset;
    width: 49%;

    @media(max-width: 500px) {
      margin: 0 auto;
      width: 60%;
    }
  }

  &--discount {
    display: block;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
  }

  &--pop {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;

    @media(max-width: $phone) {
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}