mixin button(data)

  if data.button
    button.button.button--order Оставить заявку
  
  else if data.whereabouts
    a.button.button--whereabouts(href='#') Схема проезда

  else if data.discount
    a.button.button--discount(href='#') Заказать

  else if data.form
    button.button.button--form(type='submit') Отправить
  
  else if data.pop
    a.button.button--pop(href='#') Подробнее
