extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  include /source/blocks/we/we
  div.box
    +heading({
    headerCleanMiddle: 'true',
    title: 'Наши достижения',
  })
    div.content.content--short
      p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по
  include /source/blocks/duoSlider/duoSlider
  div.box
    +heading({
    headerCleanMiddleSmall: 'true',
    title: 'Наши достижения',
  })
    div.content
      ul
        li Какой-то текст по выбранной тематике
        li Какой-то текст по выбранной тематике
        li Какой-то текст по выбранной тематике
        li Какой-то текст по выбранной тематике
        li Какой-то текст по выбранной тематике
        li Какой-то текст по выбранной тематике
  div.background.background--right-line
  include /source/blocks/logistics/logistics
  include /source/blocks/partnersSlider/partnersSlider
  include /source/blocks/form/form
    

