extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  div.background.background--left.background--right
    div.box
      +heading({
        header1: 'true',
        title: 'Статьи'
      })
        div.line
      div.content.content--middle
        p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое

    div.box.box--heading
      section.articles
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        +why({
          inner: 'true'
        })
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
        include /source/blocks/article/article
    +pagination({
      marginBottom: 'true'
    })
    include /source/blocks/form/form
