extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  div.background.background--left.background--right
    div.box
      div.wrapper
        div.spliter
          +heading({
            header1: 'true',
            title: 'Название полезной статьи'
          })
            div.line
          p.content-date 14 февраля 2019
          div.content
            h3 Название полезной статьи
            p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое
            div.signed
              div
                img(src='./images/wide.jpg')
              p Информация по описанию фото
            h3 Название полезной статьи
            p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое
            h3.line Название полезной статьи
            ul
              li Какой-то текст по выбранной тематике
              li Какой-то текст по выбранной тематике
              li Какой-то текст по выбранной тематике
              li Какой-то текст по выбранной тематике
              li Какой-то текст по выбранной тематике
              li Какой-то текст по выбранной тематике
            h3 Название полезной статьи
            p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое
          div.like
              a.like__agree(href="#") Мне понравилась статья!
              div.like__share
                p.like__friends Поделиться с друзьями:
                div.ya-share2(data-services="vkontakte,facebook,odnoklassniki,twitter" data-counter)
          div.discussion
            div(style='height: 250px; width: 100%; display: flex; align-items: center; justify-content: center; background: #c1c1c1') Место для Disqus
        aside
          h3 Полезные статьи
          a.optional(href='#')
            div.optional__image(style='background-image: url("./images/sunset.jpg");')
            p.optional__header Полезная статья
            p.optional__text О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по

          a.optional(href='#')
            div.optional__image(style='background-image: url("./images/sunset.jpg");')
            p.optional__header Полезная статья
            p.optional__text О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по

          a.optional(href='#')
            div.optional__image(style='background-image: url("./images/sunset.jpg");')
            p.optional__header Полезная статья
            p.optional__text О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по
