extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  div.background.background--left.background--right
    div.box
      +heading({
        header1: 'true',
        title: 'Лизин'
      })
        div.line
      div.content.content--middle
        p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое

      div.content
        h3 Название категории второго уровня
        p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое

      div.content
        h3.line Наши достижения
        ul
          li Какой-то текст по выбранной тематике
          li Какой-то текст по выбранной тематике
          li Какой-то текст по выбранной тематике
          li Какой-то текст по выбранной тематике
          li Какой-то текст по выбранной тематике
          li Какой-то текст по выбранной тематике

        h3 Название категории второго уровня
        p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое

        h3.line Наши достижения
        ul
          li Какой-то текст по выбранной тематике
          li Какой-то текст по выбранной тематике
          li Какой-то текст по выбранной тематике
          li Какой-то текст по выбранной тематике
          li Какой-то текст по выбранной тематике
          li Какой-то текст по выбранной тематике

  include /source/blocks/discount/discount
  include /source/blocks/form/form