extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  div.background.background--left.background--right
    div.box
      +heading({
        header1: 'true',
        title: 'Контакты'
      })
        div.line
      h3 ООО “Компания”
      +contact({
        office: 'true'
      })
  include /source/blocks/decor/decor
  div.background.background--contact
    div.box
      +contact({
        warehouse: 'true'
      })
  div.background.background--vanilla
    div.box.box--mini
      include /source/blocks/where/where
  include /source/blocks/form/form
      
