extends /source/templates/default

block main
  include /source/blocks/trio/trio
  include /source/blocks/pale/pale
  include /source/blocks/about/about
  +why({
    main: 'true'
  })
  div.background.background--pop
    div.background--pop-left(style="background-image: url(./images/pattern.svg);")
    div.box.box--pop
      +heading({
        headerShort: 'true',
        title: 'Наша Продукция'
      })
      include /source/blocks/production/production
      +heading-button({
        text: 'Весь каталог'
      })
    div.background--pop-right(style="background-image: url(./images/faded.jpg);")
  div.box.box--heading
    +heading({
      headerShort: 'true',
      title: 'Полезные статьи'
    })
    include /source/blocks/articles/articles
    +heading-button({
      text: 'Больше статей'
    })
  include /source/blocks/discount/discount
  div.box.box--heading
    +heading({
      headerMiddle: 'true',
      title: 'Новости'
    })
    include /source/blocks/cards/cards
    +heading-button({
      text: 'Все новости'
    })
  include /source/blocks/partnersSlider/partnersSlider
  include /source/blocks/form/form
  include /source/blocks/whereabouts/whereabouts