extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  div.background.background--left
    div.box
      +heading({
        header1: 'true',
        title: 'Новости'
      })
        div.line
      div.content
        p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое

        h3 Название категории второго уровня

        p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое

        img(src="./images/wide.jpg" alt="cow")

        h3 Название категории второго уровня

        p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое

        div.pic-block
          div.pic-block__info
            h3.line Наши достижения
            ul
              li Какой-то текст по выбранной тематике
              li Какой-то текст по выбранной тематике
              li Какой-то текст по выбранной тематике
              li Какой-то текст по выбранной тематике
              li Какой-то текст по выбранной тематике
              li Какой-то текст по выбранной тематике
          div.pic-block__picture
            img(src='./images/pink.jpg')

    div.box.box--heading
      +heading({
        headerMiddle: 'true',
        title: 'Новости'
      })
      include /source/blocks/cards/cards
      +heading-button({
        text: 'Все новости'
      })

    include /source/blocks/form/form