extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  div.background
    div.box
      +heading({
        header1: 'true',
        title: 'Новости'
      })
        div.line
      div.content.content--middle
        p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое
  div.background.background--left.background--right
    div.box
      include /source/blocks/news/news
  include /source/blocks/discount/discount