extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  div.background.background--left
    div.box
      +heading({
        header1: 'true',
        title: 'Продукты'
      })
        div.line
      div.content
        p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое
      div.content
        include /source/blocks/stek/stek
  include /source/blocks/discount/discount
  div.box.box--heading
    +heading({
      headerShort: 'true',
      title: 'Полезные статьи'
    })
    include /source/blocks/articles/articles
    +heading-button({
      text: 'Больше статей'
    })
  include /source/blocks/partnersSlider/partnersSlider
  include /source/blocks/form/form