extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  include /source/blocks/presentation/presentation
  div.background.background--left.background--right
    div.box
      section.items
        +item({
          picture: 'true'
        })
        +item({
          picture: 'true'
        })
        +item({
          picture: 'true'
        })

        +item({
          clean: 'true'
        })
        +item({
          clean: 'true'
        })
        +item({
          clean: 'true'
        })

        +item({
          picture: 'true'
        })
        +item({
          picture: 'true'
        })
        +item({
          picture: 'true'
        })

        +item({
          clean: 'true'
        })
        +item({
          clean: 'true'
        })
        +item({
          clean: 'true'
        })
  include /source/blocks/form/form