extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  div.background.background--left.background--right
    div.box
      div.box.box--right-decor
        +heading({
          header1: 'true',
          title: 'Аминокислоты'
        })
          div.line
        div.content.content--middle
          p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое
      div.content
        section.stek
          +product-card({
            clean: 'true',
            header: 'Лизин'
          })
          +product-card({
            clean: 'true',
            header: 'Треонин'
          })
          +product-card({
            clean: 'true',
            header: 'Лизин'
          })
          +product-card({
            clean: 'true',
            header: 'Треонин'
          })
          +product-card({
            clean: 'true',
            header: 'Лизин'
          })
          +product-card({
            clean: 'true',
            header: 'Треонин'
          })
          +product-card({
            clean: 'true',
            header: 'Лизин'
          })
          +product-card({
            clean: 'true',
            header: 'Треонин'
          })
          +product-card({
            clean: 'true',
            header: 'Лизин'
          })
  include /source/blocks/form/form