extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  div.background
    div.box
      +heading({
        header1: 'true',
        title: 'Результаты поиска'
      })
        div.line
      include /source/blocks/findings/findings
  div.background.background--left.background--right
    div.box
      section.results
        +result({
          variant2: 'true'
        })
        +result({
          variant2: 'true'
        })
        +result({
          variant2: 'true'
        })
        +result({
          variant2: 'true'
        })
        +result({
          variant2: 'true'
        })
        +result({
          variant2: 'true'
        })
        +result({
          variant2: 'true'
        })
        +result({
          variant2: 'true'
        })
        +pagination({
          marginBottom: 'true'
        })
  include /source/blocks/form/form
      
    