extends /source/templates/default

block main
  include /source/blocks/breadcrumbs/breadcrumbs
  div.background.background--left.background--right
    div.box
      +heading({
        header1: 'true',
        title: 'Поставщики'
      })
        div.line
      div.content.content--middle
        p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое
      include /source/blocks/suppliers/suppliers
  include /source/blocks/why/why
  include /source/blocks/form/form