.production {
  display: flex;
  margin-top: 30px;
  align-items: flex-start;

  @media(max-width: $phone) {
    flex-direction: column;
  }

  &__categories {
    @include zero;
    border-top: 1px solid #ADADAD;
    padding-left: 20px;
    max-width: 330px;
    width: 100%;
    background-color: #ffffff;


    @media(max-width: $tablet) {
      padding-left: 0;
      background-color: transparent;
    }
  }

  &__item {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;

    @media(max-width: $tablet) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__sub-item {
    display: block;
    font-size: 18px;
    line-height: 140%;
    color: #353535;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #F0F0F0;
    margin-right: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: #ffffff;
      background-color: #349230;
    }
  }

  &__link {
    @include zero;
    position: relative;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    font-size: 20px;
    line-height: 140%;
    color: #353535;
    cursor: pointer;
    padding-left: 40px;
    outline: none;

    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('../images/dot.svg');
      left: 0;
      opacity: 0.4;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &--active {
      position: relative;
      color: #0E8024;
      font-weight: bold;

      &:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('../images/dot.svg');
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 1;
      }
    }
  }

  &__card {
    display: none;
    max-width: 780px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 35px 40px 35px 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    margin-left: 60px;
    margin-bottom: 110px;

    @media(max-width: $desktop) {
      margin-left: 20px;
      padding: 20px;
      margin-bottom: 90px;
    }

    @media(max-width: $tablet) {
      margin-left: 20px;
      padding: 20px;
      margin-bottom: 60px;
    }

    @media(max-width: $phone) {
      margin-left: 0;
      margin-bottom: 20px;
      margin-bottom: 30px;
    }

    &--active {
      display: block;
    }
  }

  &__header {
    @include zero;
    position: relative;
    font-size: 22px;
    line-height: 140%;
    color: #353535;
    display: inline-block;
    padding-right: 70%;

    @media(max-width: $desktop) {
      padding-right: 0;
      display: block;
    }

    @media(max-width: $phone) {
      text-align: center;
    }

    &:after {
      position: absolute;
      content: '';
      width: 65%;
      height: 1px;
      background-color: #ADADAD;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;

      @media(max-width: $desktop) {
        display: none;
      }
    }
  }

  &__text {
    @include zero;
    margin-top: 20px;
    margin-bottom: 40px;

    @media(max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &__substances {
    @include zero;
    display: flex;
    flex-wrap: wrap;
    max-width: 585px;

    @media(max-width: $phone) {
      max-width: 100%;
      justify-content: center;
    }
  }

  &__substance {
    list-style: none;
  }

  &__include {
    display: none;
    &.vis{
      display: block;
    }
  }
}