section.production
  ul.production__categories
    li.production__item
      button.production__link(data-json={
  "title": "Аминрокислоты",
  "text": "Для производства премиксов, кормовых добавок, комбикормов с целью обогащения и балансирования рационов свиней, сельскохозяйственной птицы и рыб лизином.",
  "button": "reffered-page",
  "links": [
    {
      "link": "1",
      "title": "Лизин"
    },
    {
      "link": "2",
      "title": "Метионин"
    },
    {
      "link": "3",
      "title": "Треонин"
    },
    {
      "link": "4",
      "title": "Триптофан"
    },
    {
      "link": "5",
      "title": "Валин"
    },
    {
      "link": "6",
      "title": "Агринин"
    },
    {
      "link": "7",
      "title": "Изолейцин"
    },
    {
      "link": "8",
      "title": "Глицин"
    }
  ]
}) Аминокислоты
    li.production__item
      button.production__link(data-json={
  "title": "Жиры",
  "text": "Текст который будет рассказывать про жиры.",
  "button": "reffered-page",
  "links": [

  ]
}) Жиры
    li.production__item
      button.production__link(data-json={
  "title": "Соевый концентрат",
  "text": "Очень большой длинный и интересный текст про соевый концентрат. Очень большой длинный и интересный текст про соевый концентрат. Очень большой длинный и интересный текст про соевый концентрат. Очень большой длинный и интересный текст про соевый концентрат. Очень большой длинный и интересный текст про соевый концентрат.",
  "button": "reffered-page",
  "links": [
    {
      "link": "#",
      "title": "Соевый концентрат1"
    },
    {
      "link": "#",
      "title": "Соевый концентрат2"
    },
    {
      "link": "#",
      "title": "Соевый концентрат3"
    },
    {
      "link": "#",
      "title": "Соевый концентрат4"
    },
    {
      "link": "#",
      "title": "Соевый концентрат5"
    },
    {
      "link": "#",
      "title": "Соевый концентрат6"
    },
    {
      "link": "#",
      "title": "Соевый концентрат7"
    },
    {
      "link": "#",
      "title": "Соевый концентрат8"
    },
    {
      "link": "#",
      "title": "Соевый концентрат9"
    },
    {
      "link": "#",
      "title": "Соевый концентрат10"
    }
  ]
}) Соевый концентрат
  section.production__card
    p.production__header Аминокислоты
    p.production__text Для производства премиксов, кормовых добавок, комбикормов с целью обогащения и балансирования рационов свиней, сельскохозяйственной птицы и рыб лизином.
    p.production__include В группу входят:
    ul.production__substances
    +button({
      pop: 'true'
    })