.discount {
  position: relative;
  max-width: 935px;
  padding-left: 150px;
  padding-right: 150px;
  margin: 0 auto;

  @media(max-width: $phone) {
    padding-left: 0;
    padding-right: 0;
  }

  &:before {
    position: absolute;
    content: '';
    width: 150px;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/leaf.svg');

    @media(max-width: $phone) {
      display: none;
    }
  }

  &__info {
    padding: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;

    @media(max-width: $phone) {
      padding: 20px;
    }
  }

  &__header {
    @include zero;
    position: relative;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #0E4218;
    padding-bottom: 20px;
    text-align: center;

    @media(max-width: $tablet) {
      border-bottom: 1px solid #ADADAD;
    }

    &:after {
      position: absolute;
      content: '';
      width: 480px;
      height: 1px;
      background-color: #ADADAD;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      @media(max-width: $tablet) {
        display: none;
      }
    }
  }

  &__text {
    text-align: center;
  }

}