div.background.background--discount
  div.background--discount-left(style="background-image: url(./images/field.jpg);")
  section.discount
    section.discount__info
      p.discount__header Блок для акций и лучших предложений
      p.discount__text Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции Описание акции
      +button({
        discount: 'true'
      })
  div.background--discount-right(style="background-image: url(./images/faded.jpg);")