form.searchbar
  input.searchbar__input(type="text" placeholder="Поиск по сайту...")
  button.searchbar__button(type="submit")
    svg.searchbar__icon
      use(xlink:href="#icon-search")
    span.visually-hidden Поиск по сайту
