.searchbar {
  position: relative;
  max-width: 270px;
  width: 100%;

  @media(max-width: $desktop) {
    display: flex;
  }

  &__input {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 0;
    outline: none;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 40px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    &::placeholder{
      font-weight: 500;
      color: #187A2B;
    }
    &:focus {
      box-shadow: 0px 0px 20px rgba(155, 205, 102, 0.69);
    }
  }

  &__button {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    padding-right: 20px;
    &:hover {

      .searchbar__icon {
        fill: #D2CB2C;
      }

    }

    .searchbar__icon {
      width: 14px;
      height: 14px;
      fill: #187A2B;
    }
  }
}