section.findings
  p.findings__info Вот что удалось найти по запросу:
    span тут написан запрос, ниже варианты отображения
  p.findings__info Результаты поиска:
    span 2 шт.

  ul.findings__filters
    li.findings__item
      a.findings__filter.findings__filter--active(href='#') Продукты
    li.findings__item
      a.findings__filter(href='#') Статьи
    li.findings__item
      a.findings__filter(href='#') Новости