.findings {
  max-width: 925px;
  width: 100%;
  padding-bottom: 100px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 200%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/right-line.jpg');
    bottom: 0;
    right: 0;

    @media(max-width: 1200px) {
      width: 110%;
    }
  }

  span {
    font-weight: bold;
    padding-left: 10px;
  }

  &__info {
    @include zero;
    padding-bottom: 40px;
  }

  &__filters {
    @include zero;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;

    @media (max-width: $phone) {
      flex-wrap: wrap;
      padding-bottom: 0;
    }
  }

  &__item {
    list-style: none;
    padding-right: 20px;

    @media (max-width: $phone) {
      padding-bottom: 20px;
    }
  }

  &__filter {
    text-decoration: none;
    font-size: 20px;
    line-height: 140%;
    color: #353535;

    &--active {
      font-weight: bold;
      color: #0E8024;
    }
  }
}