section.news
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  include /source/blocks/headline/headline
  +pagination({
    clean: 'true'
  })