.news {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 60px;

  @media(max-width: $desktop) {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 30px;
  }

  @media(max-width: $phone) {
    margin-top: 20px;
  }

  .pagination {
    width: 100%;
  }

  .headline {
    width: 45%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background: #79a56c;
    transition: all 0.3s ease;
    &.nopic{
      &:before{
        display: none;
      }
      &:hover{
        background: #9ec572;
      }
    }
    @media(max-width: $desktop) {
      width: 45%;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    @media(max-width: $tablet) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media(max-width: 800px) {
      width: 44%;
    }

    @media(max-width: $phone) {
      width: 100%;
    }

    
  }
}