mixin why(data)
  if data.main
    div.box
      section.why
        h2.header-index Почему выбирают нас
        div.why__advantages
          div.why__advantage
            div.why__back
              div.why__picture(style='background-image: url("./images/cov.png");')
            p.why__header Первое преимущество
            p.why__text Описание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи

          div.why__advantage
            div.why__back
              div.why__picture(style='background-image: url("./images/pig.png");')
            p.why__header Первое преимущество
            p.why__text Описание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи

          div.why__advantage
            div.why__back
              div.why__picture(style='background-image: url("./images/horn.png");')
            p.why__header Первое преимущество
            p.why__text Описание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи
  else if data.inner
    section.why.why--inner
      h2.header-index Почему выбирают нас
      div.why__advantages
        div.why__advantage
          div.why__back
            div.why__picture(style='background-image: url("./images/cov.png");')
          p.why__header Первое преимущество
          p.why__text Описание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи

        div.why__advantage
          div.why__back
            div.why__picture(style='background-image: url("./images/pig.png");')
          p.why__header Первое преимущество
          p.why__text Описание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи

        div.why__advantage
          div.why__back
            div.why__picture(style='background-image: url("./images/horn.png");')
          p.why__header Первое преимущество
          p.why__text Описание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи