.why {

  &__advantages {
    @include zero;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: -38px;
    margin-left: -38px;

    @media(max-width: $desktop) {
      max-width: 840px;
      margin: 0 auto;
      margin-top: 60px;
    }

    @media(max-width: $tablet) {
      justify-content: space-evenly;
    }

  }

  &__advantage {
    list-style: none;
    max-width: 335px;
    width: 100%;
    margin-right: 38px;
    margin-left: 38px;
    margin-top: 80px;

    @media(max-width: $desktop) {
      max-width: 255px;
      margin-right: 12px;
      margin-left: 12px;
    }

    @media(max-width: $tablet) {
      max-width: 335px;
      margin-bottom: 50px;
    }

    @media(max-width: $phone) {
      max-width: 100%;
      margin: 0;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__back {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
    transform: rotate(45deg);
    margin-bottom: 70px;
    left: 45px;

    @media(max-width: $desktop) {
      left: 30px;
      width: 195px;
      height: 195px;
      margin-bottom: 50px;
    }

    @media(max-width: $tablet) {
      left: 45px;
      width: 250px;
      height: 250px;
      margin-bottom: 50px;
    }

    @media(max-width: $phone) {
      left: 0;
      width: 170px;
      height: 170px;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    &:before {
      position: absolute;
      content: '';
      z-index: -1;
      background-image: url('../images/faded.jpg');
      width: 135%;
      height: 135%;
      top: -45px;
      right: -45px;
    }
  }

  &__picture {
    position: absolute;
    width: 340px;
    height: 340px;
    transform: rotate(-45deg);
    top: -45px;
    right: -45px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: $desktop) {
      width: 260px;
      height: 260px;
      top: -34px;
      right: -34px;
    }

    @media(max-width: $tablet) {
      width: 340px;
      height: 340px;
      top: -45px;
      right: -45px;
    }

    @media(max-width: $phone) {
      width: 225px;
      height: 225px;
      top: -27px;
      right: -27px;
    }
  }

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #353535;
    margin-bottom: 20px;

    @media(max-width: $phone) {
      text-align: center;
    }
  }

  &__text {

    @media(max-width: $phone) {
      text-align: center;
    }
  }

  &--inner {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}