.whereabouts {
  margin-top: 110px;

  @media(max-width: $desktop) {
    margin-top: 90px;
  }

  @media(max-width: $tablet) {
    margin-top: 60px;
  }

  @media(max-width: $phone) {
    margin-top: 30px;
  }


  &__header-index {
    @include zero;
    padding-bottom: 55px;
    position: relative;

    @media(max-width: $tablet) {
      padding-bottom: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &:after {
      position: absolute;
      content: '';
      width: 40%;
      height: 55px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('../images/green-line1.jpg');
      right: 0;
      bottom: 0;

      @media(max-width: $tablet) {
        display: none;
      }
    }
  }

  &__places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;

    @media(max-width: $tablet) {
      padding-top: 0;
    }
  }

  &__place {
    margin-top: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 44%;
    padding: 40px;

    @media(max-width: $tablet) {
      width: 100%;
      margin-top: 20px;
      padding: 20px;
    }
  }

  &__header {
    @include zero;
    margin-bottom: 20px;
  }

  &__meta {
    @include zero;
    margin-bottom: 10px;
    font-weight: bold;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__text {
    @include zero;
    margin-bottom: 10px;
  }

  &__hours {
    width: 100%;
    border-spacing: 0 10px;
  }

  &__line {
    margin-bottom: 10px;
  }

  &__time {
    font-weight: bold;
    text-align: right;
  }
}