section.whereabouts
  h2.header-index.whereabouts__header-index Как к нам добраться
  div.background.background--map
    div.box.box--whereabouts
      section.whereabouts__places
        section.whereabouts__place
          h2.whereabouts__header Наш офис
          p.whereabouts__meta ООО “Компания”
          p.whereabouts__text 125212, г. Москва, ул.Выборгская, д.16, стр. 4, а/я 167
          p.whereabouts__meta Часы работы офиса:
          table.whereabouts__hours
            tr.whereabouts__line
              td Понедельник - пятница
              td.whereabouts__time 10:00 - 18:00
            tr.whereabouts__line
              td Суббота
              td.whereabouts__time 11:00 - 16:00
          p.whereabouts__meta Воскресенье выходной день

        section.whereabouts__place
          h2.whereabouts__header Наш склад
          p.whereabouts__meta ООО “Компания”
          p.whereabouts__text г. Зеленоград, 2-й Западный проезд, д. 1, стр. 1, бокс № 22.
          p.whereabouts__meta Часы работы склада:
          table.whereabouts__hours
            tr.whereabouts__line
              td Понедельник - пятница
              td.whereabouts__time 10:00 - 18:00
            tr.whereabouts__line
              td Суббота
              td.whereabouts__time 11:00 - 16:00
          p.whereabouts__meta Воскресенье выходной день
      +button ({
        whereabouts: 'true'
      })
          


