section.where
  h2.where__header Как проехать на склад:
  p.where__adress 39-й км Ленинградского шоссе (М10), г. Зеленоград.
  ul.where__directions
    li.where__direction У высокой стелы (Мемориальный комплекс Штыки) <strong>повернуть на Панфиловский проспект</strong>
    li.where__direction через 800 м. поворот <strong>направо на</strong> пр-т Генерала <strong>Алексеева</strong>
    li.where__direction <strong>на 2-й Западный проезд левого поворота нет!</strong>
    li.where__direction Поэтому проезжаем дальше, и <strong>разворачиваемся через круг</strong>
    li.where__direction <strong>поворачиваем</strong> на 2-й Западный проезд <strong>направо,<strong> через 150 метров поворот
  p.where__text КПП складской территории ОПК «Зеленоградский». Строение 1, бокс №22.