.where {
  max-width: 768px;

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #353535;
    margin-bottom: 20px;

    @media(max-width: $phone) {
      font-size: 22px;
      line-height: 140%;
    }
  }

  &__adress {
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #353535;

    @media(max-width: $phone) {
      font-size: 16px;
      line-height: 120%;
    }
  }

  &__directions {
    @include zero;
  }

  &__direction {
    position: relative;
    list-style: none;
    padding-left: 60px;
    padding-bottom: 10px;

    @media(max-width: $phone) {
      padding-left: 40px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 25px;
      height: 20px;
      top: 0;
      left: 15px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('../images/punkt.svg');

      @media(max-width: $phone) {
        left: 0;
      }
    }
  }

  &__text {
    @include zero;
    margin-top: 20px;
  }
}