.stek {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 90px;
  margin-bottom: 110px;

  @media(max-width: $desktop) {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 90px;
  }

  @media(max-width: $tablet) {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  @media(max-width: $phone) {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .product-card {
    width: 28%;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 345px;
    margin-bottom: 30px;

    @media(max-width: $desktop) {
      margin-left: 20px;
      margin-right: 20px;
      width: 29%;
      margin-bottom: 20px;
    }

    @media(max-width: $tablet) {
      width: 45%;
    }

    @media(max-width: 800px) {
      width: 44%;
    }

    @media(max-width: $phone) {
      width: 100%;
    }

    &--decor {
      position: relative;
      overflow: hidden;

      &:before {
        position: absolute;
        content: '';
        width: 300px;
        height: 300px;
        bottom: -150px;
        left: -150px;
        background-color: #0E4218;
        border-radius: 50%;
        opacity: 0.1;
      }

      &:after {
        position: absolute;
        content: '';
        width: 132px;
        height: 132px;
        top: -60px;
        right: -60px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('../images/eye.svg');
        opacity: 0.1;
      }
    }
  }
}