section.stek
  +product-card({
    decor: 'true',
    header: 'Аминокислоты'
  })
  +product-card({
    decor: 'true',
    header: 'Жиры'
  })
  +product-card({
    decor: 'true',
    header: 'Соевый концентрат'
  })