.contacts {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 20px;

  @media(max-width: $tablet) {
    order: 2;
    margin: 0 auto;
  }

  @media(max-width: $phone) {
    flex-direction: column;
  }

  &__link {
    display: flex;
    text-decoration: none;
    padding-right: 20px;

    @media(max-width: $phone) {
      justify-content: center;
      margin-bottom: 10px;
    }

    &:hover .contacts__icon{
      fill: #D2CB2C;
    }

    p {
      @include zero;
      font-size: 22px;
      line-height: 140%;
      color: #353535;
      padding-left: 20px;

      @media(max-width: $tablet) {
        font-size: 16px;
        line-height: 140%;
      }
    }
  }

  &__icon {
    fill: #8BC55B;
    width: 45px;
    height: 30px;

    @media(max-width: $tablet) {
      width: 25px;
      height: 25px;
    }

    &--phone {
      width: 30px;

      @media(max-width: $tablet) {
        width: 25px;
      }
    }
  }
}