.partnersSlider {
  position: relative;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: 110px;

  @media(max-width: $desktop) {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  @media(max-width: $tablet) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media(max-width: $phone) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;


    @media(max-width: $tablet) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__partner {
    height: 170px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .swiper-pagination-bullet {
    margin-left: 5px;
    margin: 10px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #C4C4C4;
    border-radius: 50%;
    opacity: 1;
    outline: none;
  }

  .swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #0E4218;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
    outline: none;
    top: 60%;
  }

  .swiper-button-next {
    right: 0;

    @media(max-width: 1120px) {
      right: -15px;
    }
  }

  .swiper-button-prev {
    left: 0;

    @media(max-width: 1120px) {
      left: -15px;
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-right: 3px solid #0E4218;
    border-top: 3px solid #0E4218;
    transform: rotate(45deg);
  }

  .swiper-button-prev:after {
    transform: rotate(225deg);
  }

}