div.box
  section.partnersSlider
    h2.header-index Наши партнеры

    div.partnersSlider__container.swiper-container

      div.partnersSlider__wrapper.swiper-wrapper

        a.partnersSlider__partner.swiper-slide(href='#' style="background-image: url(./images/evonik.png);")
        a.partnersSlider__partner.swiper-slide(href='#' style="background-image: url(./images/aj.png);")
        a.partnersSlider__partner.swiper-slide(href='#' style="background-image: url(./images/evonik.png);")
        a.partnersSlider__partner.swiper-slide(href='#' style="background-image: url(./images/aj.png);")
        a.partnersSlider__partner.swiper-slide(href='#' style="background-image: url(./images/evonik.png);")
        a.partnersSlider__partner.swiper-slide(href='#' style="background-image: url(./images/aj.png);")
        a.partnersSlider__partner.swiper-slide(href='#' style="background-image: url(./images/evonik.png);")
        a.partnersSlider__partner.swiper-slide(href='#' style="background-image: url(./images/aj.png);")
        a.partnersSlider__partner.swiper-slide(href='#' style="background-image: url(./images/evonik.png);")
        a.partnersSlider__partner.swiper-slide(href='#' style="background-image: url(./images/aj.png);")
        
      div.partnersSlider__pagination.swiper-pagination

    div.partnersSlider__button.partnersSlider__button--prev.swiper-button-prev
    div.partnersSlider__button.partnersSlider__button--next.swiper-button-next