.content {
  @include zero;

  &--short {
    max-width: 720px;
  }

  &--middle {
    max-width: 780px;
  }

  ul {
    @include zero;

    li {
      position: relative;
      list-style: none;
      font-size: 16px;
      line-height: 140%;
      color: #383838;
      margin-bottom: 10px;
      padding-left: 60px;

      @media(max-width: $phone) {
        padding-left: 40px;
      }

      &:before {
        position: absolute;
        content: '';
        width: 30px;
        height: 1px;
        background-color: #ADADAD;
        left: 20px;
        top: 0;
        bottom: 0;
        margin: auto;

        @media(max-width: $phone) {
          left: 0;
        }
      }
    }
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h3 {
    @include zero;
    position: relative;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #353535;
    margin-top: 30px;
    margin-bottom: 20px;

    @media(max-width: $phone) {
      text-align: center;
    }
  }

  .line {
    padding-right: 335px;
    display: inline-block;

    @media(max-width: $tablet) {
      padding-right: 100px;
    }

    @media(max-width: $phone) {
      padding-right: 0;
      display: block;
    }

    &:after {
      position: absolute;
      content: '';
      width: 315px;
      height: 1px;
      background-color: #ADADAD;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;

      @media(max-width: $tablet) {
        width: 80px;
      }

      @media(max-width: $phone) {
        display: none;
      }
    }
  }

  .signed {
    margin-top: 40px;
    margin-bottom: 40px;
  
    @media(max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    div {
  
      img {
        width: 100%;
      }
    }
  
    p {
      @include zero;
      font-size: 14px;
      line-height: 140%;
      color: #353535;
      text-align: center;
      padding-top: 20px;
    }
  }

  .pic-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  
    @media(max-width: $tablet) {
      flex-direction: column;
    }
  
    .line {
      margin-top: 0;
    }
  
    &__info {
      width: 60%;
      margin-right: 20px;
  
      @media(max-width: $tablet) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  
    &__picture {


      img {
        margin: 0 auto;
      }
  
      @media(max-width: $tablet) {
        width: 100%;
      }
      
      width: 48%;
      // height: 350px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.content-date {
  padding: 15px 40px 15px 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-image: url('../images/date.png');
  margin-top: 20px;

  @media(max-width: $phone) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.like {
  max-width: 780px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ADADAD;

  @media(max-width: $desktop) {
    flex-direction: column;
  }

  &__agree {
    display: block;
    text-decoration: none;
    color: #353535;
    padding-right: 20px;
  }

  &__share {
    margin-right: 50px;
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media(max-width: $desktop) {
      margin-top: 20px;
    }

    @media(max-width: $phone) {
      flex-direction: column;
    }
  }

  &__friends {
    @include zero;

    @media(max-width: $phone) {
      margin-bottom: 5px;
    }
  }
}




.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;

  @media(max-width: $desktop) {
    margin-bottom: 90px;
  }

  @media(max-width: $tablet) {
    margin-bottom: 60px;
  }

  @media(max-width: $phone) {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .spliter {
    width: 65%;

    @media(max-width: $tablet) {
      width: 60%;
    }

    @media(max-width: $phone) {
      width: 100%;
    }
  }

  aside {
    width: 30%;
    margin-left: 30px;

    @media(max-width: $tablet) {
      width: 40%;
    }

    @media(max-width: $phone) {
      max-width: 690px;
      width: 100%;
      margin: 0 auto;
    }

    h3 {
      padding-right: 140px;
      position: relative;
    
        &::before {
          position: absolute;
          content: '';
          width: 120px;
          height: 1px;
          background-color: #ADADAD;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

    .optional {
      text-decoration: none;
      
      &__image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
      }
      
      &__header {
        @include zero;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        line-height: 140%;
        color: #353535;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
      }
      
      &__text {
        @include zero;
        font-size: 14px;
        line-height: 140%;
        color: #383838;
        padding-left: 20px;
        margin-bottom: 40px;
      }
    }
  }
}