<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/libs.css")
    link(rel="stylesheet", href="./css/style.css")
    title Vitagarant
  body

    block mixins
      include /source/blocks/button/button
      include /source/blocks/logo/logo
      include /source/blocks/heading/heading
      include /source/blocks/heading-button/heading-button
      include /source/blocks/product-card/product-card
      include /source/blocks/item/item
      include /source/blocks/pagination/pagination
      include /source/blocks/result/result
      include /source/blocks/contact/contact
      include /source/blocks/why/why

    block header
      include /source/blocks/header/header
    
    main
      block main

    block footer
      include /source/blocks/footer/footer
      
      div(style='display: none;')
        include ../../build/images/icons/icons.svg
      script(src="./js/libs.js")
      script(src="./js/scripts.js")
      script(src="https://yastatic.net/share2/share.js" async="async")