div.background.background--strapped
  div.box
    section.duoSlider

      div.duoSlider__container.swiper-container

        div.duoSlider__wrapper.swiper-wrapper

          div.duoSlider__slide.swiper-slide(href='#' style="background-image: url(./images/cow.jpg);")
          div.duoSlider__slide.swiper-slide(href='#' style="background-image: url(./images/pigs.jpg);")
          div.duoSlider__slide.swiper-slide(href='#' style="background-image: url(./images/cow.jpg);")
          div.duoSlider__slide.swiper-slide(href='#' style="background-image: url(./images/pigs.jpg);")
          div.duoSlider__slide.swiper-slide(href='#' style="background-image: url(./images/cow.jpg);")
          div.duoSlider__slide.swiper-slide(href='#' style="background-image: url(./images/pigs.jpg);")
          div.duoSlider__slide.swiper-slide(href='#' style="background-image: url(./images/cow.jpg);")
          div.duoSlider__slide.swiper-slide(href='#' style="background-image: url(./images/pigs.jpg);")
          div.duoSlider__slide.swiper-slide(href='#' style="background-image: url(./images/cow.jpg);")
          div.duoSlider__slide.swiper-slide(href='#' style="background-image: url(./images/pigs.jpg);")
          
        div.duoSlider__pagination.swiper-pagination

      div.duoSlider__button.duoSlider__button--prev.swiper-button-prev
      div.duoSlider__button.duoSlider__button--next.swiper-button-next