.presentation {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: flex-start;

  @media(max-width: $phone) {
    flex-direction: column;

    .header-line {
      max-width: 100%;
    }
  }

  &__info {
    max-width: 780px;
  }

  &__download {
    padding: 45px 35px 35px 35px;
    min-width: 320px;
    background-color: #ffffff;
    margin-left: 20px;

    @media(max-width: $phone) {
      margin: 0 auto;
      padding: 20px;
      min-width: unset;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #757575;
    text-align: center;
    margin-bottom: 10px;
  }

  &__name {
    @include zero;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #353535;
    margin-bottom: 30px;
    text-align: center;
  }

  &__button {
    text-decoration: none;
    display: block;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    background-color: #99BB3F;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
}