div.background.background--tiny
  div.box
    section.presentation
      section.presentation__info
        +heading({
          header1: 'true',
          title: 'Лизин'
        })
          div.line
        div.content
          p О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое
      section.presentation__download
        p.presentation__header Презентация
        p.presentation__name L-Карнитин
        a.presentation__button(href='#') Скачать презентацию
