.result {
  padding-top: 40px;
  padding-bottom: 39px;
  border-bottom: 1px solid #ADADAD;

  @media(max-width: $phone) {
    padding-top: 20px;
    padding-bottom: 19px;
  }

  &__content {
    display: flex;

    @media(max-width: $phone) {
      flex-direction: column;
    }
  }

  &__image {
    min-width: 200px;
    width: 200px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--variant2 {

      @media(max-width: $phone) {
        order: 1;
        min-width: unset;
        max-width: 360px;
        width: 100%;
      }

      min-width: 360px;
      width: 360px;
      min-height: 260px;
    }
  }

  &__info {
    padding-left: 40px;
    max-width: 600px;

    @media(max-width: $phone) {
      padding-left: 0;
      padding-top: 20px;
    }

    &--variant2 {
      @media(max-width: $phone) {
        order: 2;
      }

      padding-left: 0;
      margin-right: 40px;
      max-width: 525px;
    }
  }

  &__header {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #353535;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    @include zero;
    padding-top: 20px;
  }

  &__arrow {
    margin-top: 40px;
    width: 35px;
    height: 10px;
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__category {
    display: block;
    max-width: 270px;
    position: relative;
    padding: 20px;
    padding-right: 45px;
    text-decoration: none;
    font-size: 18px;
    line-height: 140%;
    color: #353535;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid #99BB3F;
    margin-top: 20px;
    background-color: #ffffff;

    &:hover {
      background-color: #D2CB2C;
      color: #ffffff;
      border: 1px solid #ffffff;

      .result__arrow {
        fill: #ffffff;
      }
    }
  }
}