mixin result(data)

  if data.variant1
    section.result
      div.result__content
        div.result__image(style="background-image: url(./images/pink.jpg);")
        div.result__info
          a.result__header(href='#') Название статьи
          p.result__text Задача организации, в особенности же новая модель организационной деятельности способствует подготовке и реализации существующих финансовых и административных условий.
      a.result__category(href="#") Читать статью
        svg.result__arrow
          use(xlink:href="#icon-arrow1")

  else if data.variant2
    section.result
      div.result__content
        div.result__info.result__info--variant2
          a.result__header(href='#') Название статьи
          p.result__text.result__text--variant2 Задача организации, в особенности же новая модель организационной деятельности способствует подготовке и реализации существующих финансовых и административных условий.
        div.result__image.result__image--variant2(style="background-image: url(./images/pink.jpg);")