.suppliers {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 90px;
  margin-bottom: 110px;


  @media(max-width: $desktop) {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 90px;
  }

  @media(max-width: $tablet) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media(max-width: $phone) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .supplier {
    width: 28%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px;

    @media(max-width: $desktop) {
      margin-left: 20px;
      margin-right: 20px;
      width: 29%;
      margin-bottom: 20px;
    }

    @media(max-width: $tablet) {
      width: 45%;
    }

    @media(max-width: 800px) {
      width: 44%;
    }

    @media(max-width: $phone) {
      width: 100%;
    }
  }
}