section.suppliers
  include /source/blocks/supplier/supplier
  include /source/blocks/supplier/supplier
  include /source/blocks/supplier/supplier
  include /source/blocks/supplier/supplier
  include /source/blocks/supplier/supplier
  include /source/blocks/supplier/supplier
  include /source/blocks/supplier/supplier
  include /source/blocks/supplier/supplier
  include /source/blocks/supplier/supplier