div.box
  ul.breadcrumbs
    li.breadcrumbs__item
      a(href='#') Главная
    li.breadcrumbs__item
      a(href='#') Вложенная
    li.breadcrumbs__item
      a(href='#') Вложенная
    li.breadcrumbs__item
      a(href='#') Вложенная
    li.breadcrumbs__item
      a(href='#') Вложенная
    li.breadcrumbs__item
      span Активная страница