.breadcrumbs {
  @include zero;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;

  @media(max-width: $phone) {
    margin-top: 10px;
    margin-bottom: 10px; 
  }

  &__item {
    list-style: none;
    position: relative;
    padding: 5px 5px 5px 0px;

    &:not(:first-child) {
      padding-left: 40px;

      &:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/arrow.svg');
        top: 0;
        bottom: 0;
        left: 10px;
        margin: auto;
      }
    }

    a,
    span {
      text-decoration: none;
      font-size: 14px;
      line-height: 17px;
      color: #BBBBBB;
    }

    span {
      color: #353535;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}