.developer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  @media(max-width: $phone) {
    flex-direction: column;
    align-items: center;
  }

  &__text {
    @include zero;
    text-decoration: none;
    color: #C1D8AE;
    font-size: 12px;
    &:first-child{
      text-decoration: underline;
    }

    @media(max-width: $phone) {
      margin-top: 10px;
    }

    &--logo {
      position: relative;
      padding-right: 115px;

      &:after {
        position: absolute;
        content: '';
        width: 95px;
        height: 20px;
        right: 0;
        top: -2px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../images/texterra.svg');
      }
    }
  }
}