section.developer
  a.developer__text(href="#") Политика конфеденциальности
  p.developer__text Copyright © 2020
  a.developer__text.developer__text--logo(href="https://texterra.ru" target="blank") Разработано
