section.meta
  .cbblock
    a.meta__item(href="tel:+70000000000") +7(000)000-00-00
    a.meta__item(href="mailto:info@info.ru") info@info.ru
  a.meta__item(href="mailto:info@info.ru") 125212, г. Москва, ул.Выборгская, д.16, стр. 4, а/я 167