.meta {
  max-width: 330px;
  margin-top: 25px;

  @media(max-width: $desktop) {
    margin-top: 20px;
  }

  @media(max-width: $phone) {
    margin-top: 20px;
  }

  &__item {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
}