.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  &__item {
    list-style: none;

    a,span {
      text-decoration: none;
      font-size: 22px;
      line-height: 140%;
      color: #A7A7A7;
      display: block;
      padding-left: 10px;
      padding-right: 10px;

      @media(max-width: $phone) {
          padding-left: 20px;
          padding-right: 20px;
      }
    }

    p {
      padding-left: 10px;
      padding-right: 10px;
    }

    &--word {

      @media(max-width: $phone) {
        width: 100%;
      }

      &:first-of-type {
        padding-right: 60px;

        @media(max-width: $phone) {
          padding-right: 0;
          text-align: center;
        }
      }

      &:last-of-type {
        padding-left: 60px;

        @media(max-width: $phone) {
          padding-left: 0;
          text-align: center;
        }
      }

      & a {
        font-size: 22px;
        line-height: 140%;
        color: #353535;
      }
    }

    &--inactive {
      color: #A7A7A7;
    }

    &--active a {
      text-decoration: underline;
      color: #0E8024;
    }
  }

  &--margin {
    margin-bottom: 30px;
  }
}