mixin pagination(data)

  if data.marginBottom
    ul.pagination.pagination--margin
      li.pagination__item.pagination__item--word.pagination__item--inactive
        span Предыдущая
      li.pagination__item.pagination__item--active
        a(href="#") 1
      li.pagination__item
        a(href="#") 2
      li.pagination__item
        a(href="#") 3
      li.pagination__item
        p ...
      li.pagination__item.pagination__item--word
        a(href="#") Следущая
  else if data.clean
    ul.pagination
      li.pagination__item.pagination__item--word.pagination__item--inactive
        span Предыдущая
      li.pagination__item.pagination__item--active
        a(href="#") 1
      li.pagination__item
        a(href="#") 2
      li.pagination__item
        a(href="#") 3
      li.pagination__item
        p ...
      li.pagination__item.pagination__item--word
        a(href="#") Следущая