div.box.box--full
  section.we
    section.we__content
      +heading({
        header1: 'true',
        title: 'О наc',
        switcher: 'true'
      })
      div.line

      p.we__info О Краткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по разделаКраткое описание по раздела
  div.we__image(style='background-image: url("./images/chi.jpg");')
