.we {
  display: flex;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media(max-width: $desktop) {
    @include zero;
    width: 65%;
  }

  @media(max-width: $desktop) {
    @include zero;
    width: 55%;
  }

  @media(max-width: $phone) {
    width: 100%;
  }

  &__image {
    height: 100%;
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: 1300px) {
      width: 35%;
    }

    @media(max-width: $desktop) {
      width: 45%;
    }

    @media(max-width: $phone) {
      display: none;
    }
  }

  &__content {
    position: relative;
    max-width: 720px;

    @media(max-width: $phone) {
      width: 100%;
    }
  }

  &__text {
    max-width: 780px;
  }

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #353535;
    margin-bottom: 40px;

    @media(max-width: $desktop) {
      margin-bottom: 30px;
    }

    @media(max-width: $tablet) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 24px;
    }

    @media(max-width: $phone) {
      text-align: center;
    }
  }
}