a.article(href='#' style='background-image: url("./images/cow.jpg");')
  span.article__fader
  p.article__header Полезная статья
  p.article__text Описание этой полезной статьи Описание этой полезной статьиОписание этой полезной статьиОписание этой полезной статьи
