.article {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  text-decoration: none;
  color: #353535;

  &:hover {

    .article__fader {
      background: linear-gradient(0deg, rgba(153, 187, 63, 0.8), rgba(153, 187, 63, 0.8))
    }
  }

  &__fader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255, 248, 204, 0.76), rgba(255, 248, 204, 0.76));
  }

  &__header {
    @include zero;
    position: relative;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #353535;
    text-align: center;
    z-index: 1;
    padding-bottom: 15px;
  }

  &__text {
    @include zero;
    position: relative;
    z-index: 1;
  }
}