div.background.background--form
  div.background--form-left(style="background-image: url(./images/pattern.svg);")
  div.box.box--form
    section.form#form2
      section.form__apply
        h2.form__header Оставьте заявку
        p.form__ad Наш менеджер свяжется с вами в течение дня<br> для уточнения деталей
        form.form__inputs
          input.form__input(type='text' placeholder="Ваше имя" required)
          input.form__input.form__input--phone(type='tel' placeholder="Телефон" required)
          input.form__input(type='email' placeholder="E-mail" required)
          +button({
            form: 'true'
          })
        p.form__terms Нажимая на кнопку отправить, вы подтверждаете свое согласие на обработку <a class="form__link" href="#">пользовательских данных</a>
      section.form__message
        h2.form__header Спасибо за заявку
        p.form__ad Наш менеджер свяжется с вами в течение дня для уточнения деталей
  div.background--form-right(style="background: repeating-linear-gradient(45deg, #0E8024, #0E8024 15px, #ffffff 15px, #ffffff 30px);")
