.form {
  position: relative;
  max-width: 630px;
  margin-left: auto;
  background-color: #FEFDF0;
  box-sizing: border-box;
  padding: 60px 20px 60px 60px;

  @media(max-width: $phone) {
    max-width: 100%;
    padding: 20px;
  }

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #353535;
    margin-bottom: 20px;

    @media(max-width: 500px) {
      text-align: center;
    }
  }

  &__ad {
    @include zero;
    margin-bottom: 20px;
    font-weight: normal;

    @media(max-width: 500px) {
      text-align: center;
    }
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__input {
    width: 49%;
    background: transparent;
    border: 1px solid #0E4218;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    outline: none;

    @media(max-width: 500px) {
      width: 100%;
    }

    &:focus {
      box-shadow: 0px 0px 20px rgba(155, 205, 102, 0.69);
    }

    &--invalid {
      border: 1px solid #F41919;
      box-sizing: border-box;
      border-radius: 5px;

      &:focus {
        box-shadow: none;
        box-shadow: 0px 0px 3px #F41919;
      }
    }
  }

  &__terms {
    @include zero;
    margin-top: 10px;
    font-size: 14px;
    line-height: 140%;
    font-weight: normal;

    @media(max-width: 500px) {
      text-align: center;
    }
  }

  &__link {
    color: #99BB3F;
  }

  &__message {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

    &--shown {
      visibility: visible;
      opacity: 1;
    }
  }

  &__apply {
    transition: 0.5s;
    visibility: visible;
    opacity: 1;

    &--hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

}




.form__input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 140%;
  color: #A7A7A7;
}
.form__input::-moz-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 140%;
  color: #A7A7A7;
}
.form__input:-moz-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 140%;
  color: #A7A7A7;
}
.form__input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 140%;
  color: #A7A7A7;
}