.trio {
  @include zero;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  &__feature {
    list-style: none;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #0E4218;

    @media(max-width: $desktop) {
      font-size: 30px;
      line-height: 37px;
    }

    @media(max-width: $tablet) {
      font-size: 22px;
      line-height: 24px;
    }
  }
}