.headline {
  display: block;
  position: relative;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: gray;
  padding: 20px 60px 20px 60px;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }

  &:hover {

    &::before {
      background: linear-gradient(0deg, rgba(153, 187, 63, 0.8), rgba(153, 187, 63, 0.8));
    }
  }

  &__meta {
    @include zero;
    position: relative;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 5px;
  }

  &__date {
    @include zero;
    position: relative;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 20px;
  }

  &__header {
    @include zero;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 15px;

    @media(max-width: $phone) {
      font-size: 22px;
      line-height: 140%;  
    }
  }

  &__text {
    @include zero;
    position: relative;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 25px;
  }

  &__more {
    @include zero;
    position: relative;
    font-size: 18px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #FFFFFF;
  }
}