a.headline(href='#' style='background-image: url("./images/cow.jpg");')
  p.headline__meta Дата публикации
  p.headline__date 14.02.2019
  p.headline__header Название новости
  p.headline__text На кормовом рынке России появилась компания, которая предлагает кормовые добавки, в том числе и аминокислоты, сопровождая свои коммерческие предложения сертификатами качества, выписанными на имя «ВитаГарант».
  p.headline__more Подробнее