.wrapper-mobile {
  width: 85%;
  display: flex;
  align-items: flex-start;
  margin-top: 0;

  @media(max-width: $desktop) {
    width: 88%;
    flex-wrap: wrap;
  }

  @media(max-width: $tablet) {
    width: 100%;
    order: 4;
    margin-top: 20px;
  }

  @media(max-width: $phone) {
    position: absolute;
    left: 0;
    top: 70px;
    transform: translateX(-100%);
    transition: 0.5s;
    background: #ffffff;
    order: unset;
    margin-top: 0;
    z-index: 1;
  }

  &--opened {
    transform: translateX(0%);
  }
}