.logistics {

  &__cards {
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    @media(max-width: $desktop) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__card {
    width: 28%;
    padding: 40px;
    background-color: #ffffff;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    position: relative;
    z-index: 1;

    @media(max-width: $desktop) {
      width: 29%;
      margin-left: 20px;
      margin-right: 20px;
      padding: 20px;
      margin-bottom: 20px;
    }

    @media(max-width: $tablet) {
      width: 45%;
    }

    @media(max-width: 800px) {
      width: 44%;
    }

    @media(max-width: $phone) {
      width: 100%;
    }

    &:nth-of-type(6n+3) {

      &:after {
        position: absolute;
        content: '';
        width: 90px;
        height: 90px;
        top: -30px;
        right: -30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center;
        background-image: url('../images/list.svg');

        @media(max-width: $desktop) {
          right: -20px;
          width: 60px;
          height: 60px;
        }

        @media(max-width: $phone) {
          display: none;
        }
      }
    }

    &:nth-of-type(6n+1) {

      &:after {
        position: absolute;
        content: '';
        width: 78px;
        height: 78px;
        bottom: -30px;
        left: -30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center;
        background-image: url('../images/eye.svg');
        z-index: -1;

        @media(max-width: $desktop) {
          width: 50px;
          height: 50px;
          bottom: -20px;
          left: -20px;
        }

        @media(max-width: $phone) {
          display: none;
        }
      }
    }

  }

  &__header {
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
  }

  &__text {
    @include zero;
  }

  &__map {
    height: 630px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    background-image: url('../images/map.svg');

    @media(max-width: $tablet) {
      height: 520px;
    }

    @media(max-width: $phone) {
      display: none;
    }
  }

}