div.background.background--logistics
  div.box
    section.logistics
      +heading({
        headerCleanMiddle: 'true',
        title: 'Логистика',
      })
    div.logistics__cards
      div.logistics__card
        p.logistics__header Название категории второго уровня
        p.logistics__text Консультирование клиентов по вопросам рационального кормления, ветеринарного контроля и содержания сельскохозяйственных животных и птицы. Внедрение передового научного и практического опыта на предприятиях потребителей с целью повышения эффективности производства продукции животноводства и птицеводства
      div.logistics__card
        p.logistics__header Название категории второго уровня
        p.logistics__text Консультирование клиентов по вопросам рационального кормления, ветеринарного контроля и содержания сельскохозяйственных животных и птицы. Внедрение передового научного и практического опыта на предприятиях потребителей с целью повышения эффективности производства продукции животноводства и птицеводства
      div.logistics__card
        p.logistics__header Название категории второго уровня
        p.logistics__text Консультирование клиентов по вопросам рационального кормления, ветеринарного контроля и содержания сельскохозяйственных животных и птицы. Внедрение передового научного и практического опыта на предприятиях потребителей с целью повышения эффективности производства продукции животноводства и птицеводства

    div.logistics__map