mixin product-card(data)
  if data.decor
    div.product-card.product-card--decor
      p.product-card__header=data.header
      p.product-card__text Для производства премиксов, кормовых добавок, комбикормов с целью обогащения и балансирования рационов свиней, сельскохозяйственной птицы и рыб лизином.
      a.product-card__link(href='#') Перейти в раздел
        svg.product-card__arrow
          use(xlink:href="#icon-arrow1")
  else if data.clean
    div.product-card
      p.product-card__header=data.header
      p.product-card__text Для производства премиксов, кормовых добавок, комбикормов с целью обогащения и балансирования рационов свиней, сельскохозяйственной птицы и рыб лизином.
      a.product-card__link(href='#') Перейти в раздел
        svg.product-card__arrow
          use(xlink:href="#icon-arrow1")  