.product-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #000000;
  }

  &__link {
    display: block;
    position: relative;
    padding: 20px;
    padding-right: 45px;
    text-decoration: none;
    font-size: 18px;
    line-height: 140%;
    color: #353535;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid #99BB3F;
    margin-top: auto;
    background-color: #ffffff;

    &:hover {
      background-color: #D2CB2C;
      color: #ffffff;
      border: 1px solid #ffffff;

      .product-card__arrow {
        fill: #ffffff;
      }
    }
  }

  &__arrow {
    transition: 0.5s;
    width: 35px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

}