.switcher {
  @include zero;
  background-color: transparent;
  border: 0;
  width: 38px;
  height: 50px;
  margin-left: 20px;

  @media(max-width: $phone) {
    width: 25px;
    height: 35px;
    right: 0;
    top: 0;

  }

  &__icon {
   fill: #8BC55B;
   width: 38px;
   height: 50px;

   @media(max-width: $phone) {
    width: 25px;
    height: 35px;
  }

   &:hover {
    fill: #0E8024;
   }

   &:active {
    fill: rgba(210, 203, 44, 0.76);
   }
  }
}

.aswitcher__text {
  fill: #0E8024;
}

