.nfound {
  max-width: 1355px;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../images/triangle.png');
  padding-top: 40px;
  padding-bottom: 40px;

  &__number {
    @include zero;
    font-weight: bold;
    font-size: 200px;
    line-height: 200px;
    color: #FFFFFF;
    text-align: center;

    @media(max-width: $tablet) {
      font-size: 80px;
      line-height: 80px;
    }

    @media(max-width: $phone) {
      font-size: 80px;
      line-height: 80px;
    }
  }

  &__text {
    @include zero;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;

    @media(max-width: $tablet) {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__button {
    
    display: block;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #99BB3F;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    padding: 20px;
    max-width: 270px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 40px;
  
  
    @media(max-width: $phone) {
      margin-top: 20px;
    }
  
    &:hover {
      background-color:#FFF8CC;
      color: #353535;
    }
  }
}