div.background.background--duo-npadding
  div.background--duo-left(style="background-image: url(./images/banner.svg); opacity: 0.1;")
  section.nfound
    p.nfound__number 404
    p.nfound__text Извините, что-то пошло не так.
    a.nfound__button(href='/') На главную
  div.background--duo-right(style="background-image: url(./images/luga.jpg);")