.footer {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  @media screen and (min-width: $desktop + 1) {
    margin-bottom: -62px;
  }
  @media(max-width: $desktop) {
    
  }

  @media(max-width: $phone) {
    margin-left: 0;
    flex-direction: column;
  }
  &>*{
    z-index: 1;
    position: relative;
  }
  .logo{
    z-index: 0;
    position: relative;
    margin-top: 0;
    &>*{
      z-index: 1;
      position: relative;
    }
    &:after{
      z-index: 0;
      content: '';
      width: 419px;
      height: 262px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../images/logobg.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: $desktop + 1) {
      width: 325px;
      height: 220px;
      img{
        transform: translateX(-50px);
      }
    }
  }
  .fcenter{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    ul.links{
      width: 100%;
      max-width: 100%;
      display: block;
      @media screen and (min-width: $desktop + 1) {
        display: flex;
        justify-content: space-between;
        max-width: 600px;
        margin-top: 65px;
        li{
          a{
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
    .meta{
      width: 100%;
      max-width: 100%;
      display: block;
      @media screen and (min-width: $desktop + 1) {
        max-width: 600px;
        display: flex;
        justify-content: space-between;
        .meta__item{
          max-width: 266px;
          font-weight: 500;
        }
        .cbblock{
          .meta__item[href^="tel:"]{
            font-size: 18px;
          }
          .meta__item[href^="mailto:"]{
            color: #D2CB2C;
            text-decoration: underline;
            font-size: 14px;
          }
          &+ .meta__item{
            font-weight: 400;
            font-size: 14px;
          }
        } 

      }
    }

  }
}