div.background.background--footer
  div.box
    footer.footer
      +logo({
        footer: 'footer'
      })
      .fcenter
        include /source/blocks/links/links
        include /source/blocks/meta/meta
      include /source/blocks/medals/medals
  div.box
    include /source/blocks/developer/developer

section.modals
  div.overlay.hidden
  include /source/blocks/popUp/popUp