.heading-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #99BB3F;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
  padding: 20px;
  max-width: 270px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  @media(max-width: $tablet) {
    top: 0;
  }

  @media(max-width: $phone) {
    position: initial;
    display: block;
    margin: 0 auto;
  }

  &:hover {
    background-color:#FFF8CC;
    color: #353535;
  }
}