@mixin zero {
  padding: 0;
  margin: 0;
}

$main-color: #383838;
$second-color: #353535;

$desktop: 1199px;
$tablet: 959px;
$phone: 767px;
html{
  overflow-x: hidden;
}
body {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 140%;
  color: $main-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  transition: 0.5s;
  position: relative;
  z-index: 2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  font-size: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.fixed {
  overflow: hidden;
}

.faded {
  opacity: 0.1;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 3;
  opacity: 0.9;
}

.box {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  &--header {
    display: flex;

    @media(max-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  &--whereabouts {
    max-width: 1110px;
    padding-bottom: 45px;

    @media(max-width: $tablet) {
      padding-bottom: 20px;
    }
  }

  &--form {

    @media(max-width: 500px) {
      padding: 0;
    }
  }

  &--heading {
    margin-top: 110px;
    margin-bottom: 110px;

    @media(max-width: $desktop) {
      margin-top: 90px;
      margin-bottom: 90px;
    }

    @media(max-width: $tablet) {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    @media(max-width: $phone) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &--pop {
    margin-top: 110px;
    margin-bottom: 110px;

    @media(max-width: $desktop) {
      margin-top: 90px;
      margin-bottom: 90px;
    }

    @media(max-width: $tablet) {
      margin-top: 60px;
      margin-bottom: 60px;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    @media(max-width: $phone) {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .heading-button {
      @media(max-width: $tablet) {
        top: 20px;
      }
    }
  }

  &--margin-top {
    margin-top: 110px;


    @media(max-width: $desktop) {
      margin-top: 90px;
    }

    @media(max-width: $tablet) {
      margin-top: 60px;
    }

    @media(max-width: $phone) {
      margin-top: 30px;
    }

  }

  &--nano {
    max-width: 430px;
    width: 100%;
    margin: 0 auto;

    @media(max-width: $desktop) {
      max-width: 320px;
    }

    @media(max-width: $tablet) {
      max-width: 250px;
    }
  }

  &--mini {
    max-width: 925px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 4px solid #99BB3F;
    border-radius: 30px;
    padding-left: 110px;

    @media(max-width: $tablet) {
      padding-left: 20px;
    }
  }

  &--full {
    max-width: 100%;
    position: relative;
    margin-bottom: 110px;
  
    @media(max-width: $desktop) {
      display: flex;
      margin-bottom: 90px;
    }
  
    @media(max-width: $tablet) {
      margin-bottom: 60px;
    }
  
    @media(max-width: $phone) {
      margin-bottom: 30px;
    }
  
    &:before {
      position: absolute;
      content: '';
      width: 345px;
      height: 490px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('../images/border1.png');
      bottom: 0;
      left: 0;
  
      @media(max-width: $phone) {
        display: none;
      }
    }
  
    &:after {
      position: absolute;
      content: '';
      width: 60%;
      height: 100px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('../images/faded-line.png');
      bottom: -100px;
      left: 0;
  
      @media(max-width: 1300px) {
        width: 65%;
      }
  
      @media(max-width: $desktop) {
        width: 55%;
      }
  
      @media(max-width: $tablet) {
        height: 60px;
        bottom: -60px;
      }
    
      @media(max-width: $phone) {
        display: none;
      }
    }
  }

  &--right-decor {
    position: relative;
    padding: 0;
    max-width: 780px;
    margin-left: 0;

    &:after {
      position: absolute;
      content: '';
      width: 142%;
      height: 100%;
      top: 0;
      left: 100%;
      background-image: url(../images/pattern.svg);
      background-position: top left -65pt;
      background-size: 1040pt;
      background-repeat: repeat;

      @media(max-width: 1900px) {
        width: 100%;
      }

      @media(max-width: $desktop) {
        width: 65%;
      }

      @media(max-width: $tablet) {
        display: none;
      }
    }
  }
}

.background {

  &--footer {
    position: relative;
    background: linear-gradient(0deg, #31473C -82.63%, #79A56C 86.44%), linear-gradient(14.2deg, #005543 13.56%, #9BCD66 264.51%);
  
    .box{
      margin: 0 auto;
      position: relative;

      &:last-of-type{
        padding: 20px 0;
        z-index: 1;
        .developer{
          background: transparent;
          margin: 0;
          @media screen and (max-width: $desktop) {
            padding-left: 20px;
            padding-right: 20px;
          }
          @media screen and (min-width: $desktop + 1) {
            padding-left: 345px;
          }
        }
      }
    }
  }

  &--map {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/map.jpg');
  }

  &--vanilla {
    background-color: #fefdf0;
    padding-bottom: 60px;
  }

  &--form {
    position: relative;
  }

  &--form-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;

    @media(max-width: $phone) {
      width: 100%;
    }
  }

  &--form-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    opacity: 0.05;

    @media(max-width: $phone) {
      display: none;
    }
  }


  &--discount {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    @media(max-width: $desktop) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @media(max-width: $phone) {
      padding: 0;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      background: repeating-linear-gradient(135deg,#0e8024,#0e8024 50px,#fff 50px,#fff 80px);
      opacity: .05;
    }
  }

  &--discount-left {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

    &--discount-right {
      position: absolute;
      width: 40%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }


  &--pop {
    position: relative;
  }

  &--pop-left {
    position: absolute;
    width: 37%;
    height: 40%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: $tablet) {
      display: none;
    }
  }

  &--pop-right {
    position: absolute;
    width: 63%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media(max-width: $tablet) {
      width: 100%;
    }
  }


  &--duo {
    position: relative;
    padding-top: 155px;
    padding-bottom: 155px;

    @media(max-width: $desktop) {
      padding-top: 90px;
      padding-bottom: 90px;
      margin-top: 0;
    }

    @media(max-width: $tablet) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media(max-width: $phone) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &--duo-npadding {
    position: relative;
  }

  &--duo-left {
    position: absolute;
    width: 39%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &--duo-right {
    position: absolute;
    width: 61%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: repeat;
    background-position: right -6px top;
    transform: rotateY(180deg);
  }

  &--strapped {
    position: relative;
    margin-bottom: 20px;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 35%;
      height: 100%;
      z-index: -1;
      background: repeating-linear-gradient(135deg,#0e8024,#0e8024 15px,#fff 15px,#fff 30px);
      opacity: .05;

      @media(max-width: $phone) {
        width: 100%;
      }
    }
  }

  &--right-line {
    position: relative;
    height: 100px;

    @media(max-width: $tablet) {
      height: 50px;
    }

    @media(max-width: $phone) {
      display: none;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 60%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('../images/right-line.jpg');

      @media(max-width: $phone) {
        width: 100%;
      }
    }
  }

  &--logistics {
    position: relative;
    background: linear-gradient(174.31deg, #FEFDF0 36%, rgba(254, 253, 240, 0) 45%);

    @media(max-width: $phone) {
      background: #FEFDF0;
    }

    &:before {
      position: absolute;
      content: '';
      width: 613px;
      height: 1305px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../images/left.svg');
      left: 0;
      top: 0;
      z-index: -1px;

      @media(max-width: 1599px) {
        display: none;
      }
    }

    &:after {
      position: absolute;
      content: '';
      width: 217px;
      height: 434px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('../images/circle.svg');
      right: 0;
      bottom: 0;
      z-index: -1px;

      @media(max-width: 1599px) {
        display: none;
      }
    }
  }

  &--left {
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      content: '';
      width: 613px;
      height: 1305px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../images/left.svg');
      left: 0;
      top: 0;
      z-index: -1px;

      @media(max-width: $phone) {
        display: none;
      }
    }
  }

  &--right {
    position: relative;
    overflow: hidden;

    &:after {
      position: absolute;
      content: '';
      width: 434px;
      height: 434px;
      background-color: #D2CB2C;
      border-radius: 50%;
      right: -217px;
      bottom: 100px;
      z-index: -1;
      opacity: 0.1;

      @media(max-width: $phone) {
        display: none;
      }
    }
  }

  &--tiny {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 37%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 1040pt;
      background-image: url('../images/pattern.svg');
      background-position: left top;
      right: 0;
      top: 0;
      z-index: -1;

      @media(max-width: 1400px) {
        width: 32%;
      }

      @media(max-width: $phone) {
        display: none;
      }
    }
  }

  &--contact {
    background-color: #FEFDF0;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (max-width: $phone) {
      padding-top: 30px;
      padding-bottom: 0;
    }

    &:after {
      position: absolute;
      content: '';
      width: 390px;
      height: 750px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('../images/contact.png');
      bottom: 0;
      right: 0;

      @media (max-width: $tablet) {
        bottom: unset;
        top: 0;
      }
    }
  }

  &--where {
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(95deg, #D2CB2C 0%, rgba(0, 169, 206, 0) 50%), url('../images/pole.jpg');

    @media(max-width:$phone) {
      padding-top: 30px;
      padding-bottom: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.header-index {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #353535;
  margin-top: 30px;
  margin-bottom: 30px;

  @media(max-width: $tablet) {
    font-size: 22px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.header-line {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #353535;
  margin-right: 20px;

  @media(max-width: $tablet) {
    font-size: 22px;
    line-height: 24px;
  }

  @media(max-width: $phone) {
    display: block;
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  &--full {
    display: inline-block;
    flex-shrink: 1;
    max-width: 600px;

    @media(max-width: $phone) {
      max-width: 100%;
    }
  }

  &--middle {
    display: inline-block;
  }

  &--short {
    display: inline-block;
  }

  &--h3 {
    font-size: 22px;
    line-height: 140%;
  }
}


.background--right + .background--discount {
  margin-top: 110px;

  @media (max-width: $desktop) {
    margin-top: 90px;
  }

  @media (max-width: $tablet) {
    margin-top: 60px;
  }

  @media (max-width: $phone) {
    margin-top: 30px;
  }
}

.box + .background--form {
  margin-top: 110px;

  @media (max-width: $desktop) {
    margin-top: 90px;
  }

  @media (max-width: $tablet) {
    margin-top: 60px;
  }

  @media (max-width: $phone) {
    margin-top: 30px;
  }
}