.links {
  @include zero;
  max-width: 200px;
  width: 100%;
  margin-top: 25px;

  @media(max-width: $desktop) {
    margin-top: 20px;
  }

  @media(max-width: $phone) {
    max-width: 330px;
  }

  &__item {
    list-style: none;
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    &.navigation__link--active {
      color: #d1cb2b;
    }
  }
}
span.links__link{
  color: #d1cb2b;
}
a.links__link:hover{
  color: #d1cb2b;
}