ul.links
  li.links__item
    a.links__link(href='#') О компании
  li.links__item
    a.links__link(href='#') Проекты
  li.links__item
    a.links__link(href='#') Партнёрам
  li.links__item
    a.links__link(href='#') Новости
  li.links__item
    a.links__link(href='#') Контакты