.item {
  border: 1px solid #C7C7C7;
  border-radius: 5px;
  padding: 30px 30px 20px 30px;
  background-color: #ffffff;

  &__image {
    max-width: 315px;
    height: 315px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  &__header {
    @include zero;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
  }

  &__link {
    display: block;
    font-size: 18px;
    line-height: 140%;
    color: #353535;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #99BB3F;
    border-radius: 5px;

    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    }
  }
}