mixin item(data)
  if data.picture
    div.item
      div.item__image(style="background-image: url(./images/bag.png);")
      p.item__header Севон L-лизин HCL 99%
      a.item__link(href='#') Подробнее
  else if data.clean
    div.item
      p.item__header Севон L-лизин HCL 99%
      a.item__link(href='#') Подробнее
