.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 30px;

  .card {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 30%;
    min-height: 570px;

    @media(max-width: $desktop) {
      width: 29%;
    }

    @media(max-width: $tablet) {
      width: 45%;
    }

    @media(max-width: 799px) {
      width: 44%;
    }

    @media(max-width: 666px) {
      width: 100%;
    }
  }
}