.articles {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 30px;

  .article {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 30%;
    min-height: 330px;

    &:nth-of-type(3n+1) {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 200px;
        height: 220px;
        background-color: #9BCD66;
        bottom: -20px;
        left: -20px;
        z-index: -1;

        @media(max-width: $phone) {
          display: none;
        }
      }

      &:after {
        position: absolute;
        content: '';
        width: 240px;
        height: 250px;
        background: repeating-linear-gradient(135deg,#0e8024,#0e8024 15px,#fff 15px,#fff 30px);
        top: -25px;
        right: -120px;
        opacity: 0.1;
        z-index: -1;

        @media(max-width: $phone) {
          display: none;
        }
      }
    }

    &:nth-of-type(6n+3) {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 155px;
        height: 405px;
        background-image: url('../images/leaves.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
        right: -100px;
        top: -50px;

        @media(max-width: 1400px) {
          display: none;
        }
      }
    }

    @media(max-width: $desktop) {
      width: 29%;
    }

    @media(max-width: $tablet) {
      width: 45%;
    }

    @media(max-width: 799px) {
      width: 44%;
    }

    @media(max-width: 666px) {
      width: 100%;
    }
  }

}