.heading {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 720px;

  &__line {
    height: 1px;
    background-color: #ADADAD;
    position: relative;
    flex-grow: 1;

    @media(max-width: $phone) {
      display: none;
    }

    &--middle {
      max-width: 210px;
      
    }

    &--short {
      max-width: 60px;
    }
  }

  &--button {
    margin-right: 300px;

    @media(max-width: $phone) {
      margin-right: 0;
    }
  }
}