mixin heading(data)

  if data.header1
    div.heading
      h1.header-line.header-line--full=data.title
      div.heading__line
      if data.switcher
        button.switcher
          span.visually-hidden Сменить язык сайта
          svg.switcher__icon
            use(xlink:href="#icon-change")
    
  else if data.headerShort
    div.heading.heading--button
      h2.header-line.header-line--short=data.title
      div.heading__line.heading__line--short

  else if data.headerCleanShort
    div.heading
      h2.header-line.header-line--short=data.title
      div.heading__line.heading__line--short

  else if data.headerCleanShortSmall
    div.heading
      h3.header-line.header-line--short.header-line--h3=data.title
      div.heading__line.heading__line--short

  else if data.headerMiddle
    div.heading.heading--button
      h2.header-line.header-line--middle=data.title
      div.heading__line.heading__line--middle

  else if data.headerCleanMiddle
    div.heading
      h2.header-line.header-line--middle=data.title
      div.heading__line.heading__line--middle

  else if data.headerCleanMiddleSmall
    div.heading
      h3.header-line.header-line--middle.header-line--h3=data.title
      div.heading__line.heading__line--middle