.search {
  max-width: 270px;
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  @media(max-width: $desktop) {
    max-width: 100%;
    flex-wrap: wrap;
  }

  @media(max-width: $tablet) {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media(max-width: $phone) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .button{
    font-family: 'Montserrat';
    background-color: #FFF8CC;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 11px;
    max-width: 200px;
    box-sizing: border-box;
    border-radius: 0;
    font-weight: 500;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    &:hover{
      background-color: #fff;
    }
    @media(max-width: $desktop) {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 15px;
    }
  }
}