.decor {
  height: 210px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media(max-width: $desktop) {
    height: 110px;
  }

  @media(max-width: $tablet) {
    height: 90px;
  }

  @media(max-width: $phone) {
    height: 60px;
  }
}