.top {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media(min-width: $desktop + 1) {
    margin-top: 10px;
  }
  @media(max-width: $desktop) {
    max-width: 100%;
  }

  @media(max-width: $tablet) {
    margin-top: 20px;
  }
}